@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/customizing-colors */
@layer base {
  :root {
    --color-primary: #6b7280;
    --color-bg: #fff;
  }

  :root[class~="dark"] {
    --color-primary: #fff;
    --color-bg: #0f172a;
  }
}

@font-face {
  font-family: "tue-ofuro";
  src: url("/Tue_ofuro_kana-Regular.otf");
  size-adjust: 120%;
}

html {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-bg);
}

.font-root {
  --font-family-base: sans-serif;

  font-family: var(--font-family-base);
}

[data-custom-font="true"] {
  --font-family-base: "tue-ofuro", sans-serif;
}
