@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tue-ofuro";
  src: url("/Tue_ofuro_kana-Regular.otf");
  size-adjust: 120%;
}

html {
  font-size: 18px;
  line-height: 1.5;
}

.font-root {
  --font-family-base: sans-serif;

  font-family: var(--font-family-base);
}

[data-custom-font="true"] {
  --font-family-base: "tue-ofuro", sans-serif;
}
